@import '../../scss/variables.scss';

.about {
  flex-direction: column;
  background: linear-gradient(45deg, #028090, #05668d, #028090, #05668d);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;

  z-index: 20;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-white;
  &-wrapper {
    position: relative;

    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      display: block;
      background: white;
      content: '';
      z-index: 9999;
      height: 1px;
    }
  }
}

.bio {
  &-heading {
    margin: 30px 0 10px;
    padding: 0 15px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &-text {
    padding: 0 15px;
    text-align: center;
    max-width: 800px;
  }

  &-pic {
    position: relative;
    margin-top: 25px;

    img {
      position: relative;
      z-index: 10;
      border-radius: 300%;
      border: 2px solid $color-white;
      box-shadow: inset 0 0 100px $color-black;
    }

    :nth-child(1) {
      content: '';
      position: absolute;
      display: block;
      width: 180px;
      height: 180px;
      border-radius: 100%;
      margin: -15px 0 0 0px;
      background-color: $color-white;
      opacity: 0.6;
    }

    :nth-child(2) {
      content: '';
      position: absolute;
      display: block;
      width: 100px;
      height: 100px;
      margin: -5px 0 0 -20px;
      border-radius: 100%;
      opacity: 0.3;
      background-color: $color-white;
    }
  }

  &-grid {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 1200px;
    width: 100%;

    @include breakpoint('tablet') {
      flex-direction: row;
    }

    li {
      padding: 10px 15px;

      &:nth-child(odd) {
        background: rgba(0, 0, 0, 0.07);
      }
    }
  }

  &-grid-item {
    margin: 15px;
    width: calc(100% - 30px);
    font-size: 0.75rem;
    overflow: hidden;

    @include breakpoint('tablet') {
      text-align: left;
      font-size: 1rem;
      width: 33%;

      // border: 1px solid $color-white;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    &:nth-child(2) {
      li:nth-child(odd) {
        background: none;
      }
      li:nth-child(even) {
        background: rgba(0, 0, 0, 0.07);
      }
    }
  }

  &-grid-title {
    font-size: 1rem;
    padding: 15px;
    font-weight: 600;
    border-bottom: 1px solid $color-white;
    color: $color-white;
    text-align: left;
    @include breakpoint('tablet') {
      text-align: center;
    }
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
