@import '../../scss/variables.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: auto;
  z-index: 11;
  position: relative;
  height: 100%;

  &-inactive {
    .home-headings {
      opacity: 0;
    }
  }
}

.heading {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: $color-white;
  font-weight: 200;
  margin: 0;
}

.main-heading {
  font-size: 3rem;
  text-decoration: uppercase;
}

.sub-heading {
  font-size: 1rem;
}

.home-headings {
  position: fixed;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.home-hr {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $color-white;
  margin: 15px 0 20px;
}

.home-button {
  border: 1px solid $color-white;
  color: $color-white;
  font-weight: 400;
  color: white;
  margin: 40px auto 0;
  padding: 15px 20px;
  display: block;
  font-size: 0.75rem;
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
