$color-black: #111;
$color-grey: #333;
$color-light-grey: #393939;
$color-white: #fff;

$breakpoints: (
  'phablet': 480px,
  'tablet': 767px,
  'desktop': 992px,
);

@mixin breakpoint($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
